@font-face {
    src: url("../assets/fonts/Montserrat/Montserrat-Medium.ttf");
    font-family: "Montserrat-Mediumr";
}

@font-face {
    src: url("../assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
    font-family: "Montserrat-SemiBold";
}

@font-face {
    src: url("../assets/fonts/Open_Sans/OpenSans-Regular.ttf");
    font-family: "OpenSans-Regular";
}

@font-face {
    src: url("../assets/fonts/Open_Sans/OpenSans-Medium.ttf");
    font-family: "OpenSans-Medium";
}

@font-face {
    src: url("../assets/fonts/Open_Sans/OpenSans-SemiBold.ttf");
    font-family: "OpenSans-SemiBold";
}